body
{
background: #333333;
font-family: verdana;
color: #ffffff;
}

.container 
{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
width: 100%;
}

#difficulty 
{
width: 400px;
order: 0;
height: 150px;
margin: auto;
}

#game1 
{
height: 375px;
width: 375px;
background: inherit;
transition: 0.1s linear;
border-radius: 25px;
margin: auto;
margin-bottom: 20px;
margin-top: 20px;
}


#score 
{
margin: auto;
background: #61b561;
border-radius: 5%;
padding: 20px;
text-align: center;
color: #000000;
font-size: 30px;
visibility: hidden;
}

#colorText 
{
color: #cccccc;
font-weight: 600;
font-size: 95px;
text-shadow: 5px 5px 2px black;
text-align: center;
margin-top: 0px;
}


.gameOver 
{
color: #cccccc;
font-weight: 600;
font-size: 80px;
text-shadow: 5px 5px 2px black;
text-align: center;
margin-top: 0px;
}


.result
{
color: #5cb85c;
text-align: center;
font-weight: 600;
font-size: 50px;
margin-top: -25px;
text-shadow: 3px 3px 1px  #c1c1c1;
}



p 
{
font-size: 26px;
border: 0;
}

button, input[type=button] 
{
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
width: 100px;
font-size: 14px;
font-weight: 400;
line-height: 1.5;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
transition: 5s linear;
white-space: nowrap;
}



#easy 
{
background: #61b561;
}

#medium 
{
background: #e2a651;
}

#hard 
{
background: #c74f4b;
}

#click 
{
background: #c0c0c0;
transition: 0.3s;
border: 2px solid #c74f4b;
font-weight: 600;
visibility: hidden;
}

#click:active 
{
background: #c3c3c3;
}

#clickContainter 
{
margin: auto;
}

p {
margin-top: 0;
}

#hex {
margin-top: 5px;
background: #0687a7;
}

#author {
color: #101010;
text-align: right;
font-size: 12px;
}

#author a
{
color: #101010;
text-decoration: none;
}

#author a:hover
{
text-decoration: underline;
color: #101010;
}

#counter 
{
width: 400px;
height: 100px;
font-size: 20px;
text-align: right;
}

#streak 
{
text-align: center;
margin: auto;
height: 50px;
width: 200px;
margin-top: -60px;
}